.filterContainer {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  padding-bottom: 20px;
}

.inputFilter {
  margin-left: 5px;
  padding: 0;
  /* margin-top: 0px;
  margin-bottom: 0px;
  color: aqua; */
}
